# --- Reconnaissance vocale (micro) ---
SpeechRecognition

# PyAudio pour le micro
pyaudio

# --- Audio player pour Piper ---
sounddevice
soundfile

# --- API Infomaniak (OpenAI-compatible) ---
openai
requests
python-dotenv

# --- Pour installer facilement PyAudio sous Windows ---
pipwin; platform_system == "Windows"

# --- Pour la compatibilité Windows ---
pypiwin32; platform_system == "Windows"
